<div class="container">
  <h1>
    <%= @noticia.titulo %>
  </h1>

  <p class="text-justify">
    <%= @noticia.contenido %>
  </p>
</div>

<% if session[:usuario_rol] == 'Administrador' %>
  <%= link_to 'Editar', edit_noticia_path(@noticia) %> |
  <%= link_to 'Atrás', noticias_path %>
<% end %>
