<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="images/logo.png" width="100" height="100" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Noticias</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Planetas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mercurio</a>
                    <a class="dropdown-item" href="#">Venus</a>
                    <a class="dropdown-item" href="#">La Tierra</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ver todos</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<div class="container-fluid text-center">
    <img class="img-fluid" src="images/logo_title.png" width="750" height="212.5" alt="logo">
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card text-white bg-secondary mb-3">
                <div class="zoom-background">
                    <img class="card-img-top" src="images/planets.jpg" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Planetas</h5>
                    <p class="card-text">
                        Un planeta es un objeto astronómico que orbita una estrella.
                    </p>
                    <a href="#" class="mt-auto btn btn-dark">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card text-white bg-secondary mb-3">
                <div class="zoom-background">
                    <img class="card-img-top" src="images/stars.jpg" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Estrellas</h5>
                    <p class="card-text">
                        Las estrellas son esferoides luminosos de plasma que mantienen su forma gracias a su propia gravedad.
                    </p>
                    <a href="#" class="mt-auto btn btn-dark">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card text-white bg-secondary mb-3">
                <div class="zoom-background">
                    <img class="card-img-top" src="images/galaxy.jpg" alt="Card image cap">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Galaxias</h5>
                    <p class="card-text">
                        Una galaxia es un conjunto de estrellas, nubes de gas, planetas, polvo cósmico, materia oscura y energía.
                    </p>
                    <a href="#" class="mt-auto btn btn-dark">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-justify">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum maximus mollis. Donec sit amet dui sit amet nisi scelerisque 
        venenatis eget in sem. Sed bibendum suscipit risus, a consequat nunc elementum ut. Nullam ac luctus felis. Fusce non egestas ante, at 
        tristique nunc. Mauris nunc risus, facilisis eu scelerisque in, aliquam id velit. Maecenas aliquet venenatis tristique. Curabitur ac 
        viverra tellus. Maecenas tristique, nisi in vulputate faucibus, enim justo fermentum urna, sed porta augue justo non ante. Integer ut 
        tellus quis tortor venenatis fermentum vel vel justo. Sed rhoncus purus sit amet vulputate sollicitudin. Nam tincidunt enim metus, quis 
        hendrerit nunc rhoncus ac. Nunc libero lacus, lobortis vel purus vel, pulvinar vehicula leo. Integer at ante at lectus mattis mollis. 
        Vivamus sit amet cursus ligula. Quisque arcu sapien, ornare eget metus id, mollis tincidunt turpis.</p>

        <p>Pellentesque semper, turpis sit amet vulputate vulputate, diam libero auctor risus, at porta turpis leo nec nunc. Morbi porta leo erat, 
        vitae porta metus rutrum hendrerit. Phasellus in mauris tempus, egestas est ac, ultricies lacus. Integer eu libero sagittis, tempor libero ut, 
        condimentum turpis. Cras sit amet mi at orci cursus ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum cursus 
        fermentum.</p>

        <p>Mauris varius urna egestas pretium viverra. Etiam iaculis arcu justo, quis tristique dolor convallis nec. Etiam quam dui, pulvinar nec efficitur 
        quis, feugiat sit amet ligula. Morbi quis libero commodo velit facilisis commodo. Maecenas vehicula convallis nulla eu viverra. Proin hendrerit 
        justo in dui ullamcorper pellentesque. Aliquam iaculis, tortor sodales convallis vulputate, erat dolor laoreet lacus, ac condimentum ante augue 
        id nibh. Morbi dictum, massa ut tempus interdum, urna magna venenatis enim, vitae blandit leo ipsum ut nulla. Nam non mi tristique, auctor arcu 
        eu, ultrices metus. Suspendisse enim erat, maximus lacinia massa at, suscipit tempus massa. Vestibulum ante ipsum primis in faucibus orci luctus 
        et ultrices posuere cubilia curae;</p>

        <p>Sed sodales tortor sed justo efficitur elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        Suspendisse porta justo nisi, at malesuada odio tempor non. Morbi quis ante erat. Phasellus ultricies elit turpis, quis gravida ligula lacinia 
        in. Ut vitae sollicitudin felis. Nullam at augue dui. Proin vel bibendum dui, nec tristique ipsum. Praesent in lorem tortor. Quisque malesuada 
        sapien metus, ac semper ante tempor non.</p>

        <p>Maecenas vel libero luctus, aliquam arcu sit amet, tempor elit. Cras eu tortor a velit hendrerit gravida in vitae nulla. Nulla facilisi. 
        Quisque et tristique eros, vel aliquam leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus placerat orci in congue hendrerit. 
        Donec quis orci in ipsum congue dictum ut sit amet eros. Vestibulum congue dolor a enim pharetra, a consequat nisl dignissim. Nam laoreet urna sed 
        luctus faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis a lorem hendrerit, molestie urna ut, pretium urna.</p>
    </p>
</div>
